---
import Layout from '../layouts/Layout.astro';
import Goodscard from '../components/goodsCard.astro';
import { getCollection } from 'astro:content';
const workPages = await getCollection('goods');
---

<Layout>
<main>
  {workPages.map(productPage => (<Goodscard titleAll={productPage.data.titleAll} title1={productPage.data.title1} title2={productPage.data.title2} price={productPage.data.price} href=`/10_ecsite/goods/${productPage.slug}` thumbnail={productPage.data.thumbnail} body={productPage.data.description} />
))}
</main>
</Layout>